/* Root color definitions */
:root {
    --background-color: #F4F7F6; /* Light Blue */
    --primary-color: #4A90E2; /* Light Blue */
    --secondary-color: #50E3C2; /* Purple */
    --text-color: #4A4A4A; /* Dark Gray for text */
}

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

/* Header style */
header {
    width: 100%;
    text-align: center;
    position: absolute; /* Adjusted for positioning */
    top: 0; /* Adjust if needed to position correctly */
    z-index: 5; /* Ensure it's under the nav but above other content */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap */
}

nav ul li {
    margin: 0 1vw; /* Use viewport width for responsive margins */
}

nav ul li a {
    padding: 10px 15px; /* Adjustable based on your preference */
    font-size: calc(1vw + 1vh + 0.5vmin); /* Responsive font size */
    display: block; /* Ensure links use the full allocated space */
}

/* Link styles, applied universally */
nav a, nav a:visited, a, a:visited {
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover, nav a:active, a:hover, a:active {
    background-color: darken(var(--secondary-color), 10%);
}

/* Main content style */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically if desired */
    text-align: center; /* Center text */
    width: 100%; /* Adjust width as needed */
    padding: 75px; /* Add some padding */
}

.text {
    text-align: justify;
    margin: 0 auto;
    max-width: 60%; /* Adjust this value as needed to control the width and indirectly the margins */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text, .image {
    flex: 1; /* Each child will take equal space */
    text-align: justify; /* Only affects text alignment, not the div itself */
    padding: 20px; /* Optional: adds some space between the text and the image */
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    padding: 0px 0;
    font-weight: bold; /* Makes the text bold */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    nav ul li {
        flex: 1 0 50%; /* Example: Allow wrapping at 50% of the container width */
        text-align: center; /* Center-align the text for a cleaner look on mobile */
    }

    nav ul li a {
        padding: 8px 10px; /* Smaller padding */
        font-size: 4vw; /* Smaller font size */
    }
}
